@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme */
:root {
  --bg-primary: #ffffff;
  --text-primary: #333333;
  --transition-duration: 0.3s;
}

/* Dark Theme */
:root.dark {
  --bg-primary: #101010;
  --text-primary: #ffffff;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
