@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme */
:root {
  --bg-primary: #ffffff;
  --text-primary: #333333;
  --transition-duration: 0.3s;
}

/* Dark Theme */
:root.dark {
  --bg-primary: #101010;
  --text-primary: #ffffff;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes gradient-wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-text {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-wave 5s ease infinite;
}
