name: Build and Deploy

on:
  push:
    branches: [master]

jobs:
  build-client:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "22"

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build

  deploy-client:
    runs-on: ubuntu-latest
    needs: build-client
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Deploy using SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /home

            if [ ! -d "personal-website" ]; then
              gh repo clone Rishon/personal-website
            fi

            cd personal-website
            git reset --hard origin/master
            git pull origin

            cd /home/personal-website && bun install
            rm .env -f
            echo "PORT=${{ secrets.PORT }}" >> .env

            echo "MAIL_HOST=${{ secrets.MAIL_HOST }}" >> .env
            echo "MAIL_PORT=${{ secrets.MAIL_PORT }}" >> .env
            echo "MAIL_USERNAME=${{ secrets.MAIL_USERNAME }}" >> .env
            echo "MAIL_PASSWORD=${{ secrets.MAIL_PASSWORD }}" >> .env
            echo "MAIL_SECURE=${{ secrets.MAIL_SECURE }}" >> .env

            echo "NEXT_PUBLIC_TURNSTILE_SITE_KEY=${{ secrets.NEXT_PUBLIC_TURNSTILE_SITE_KEY }}" >> .env
            echo "TURNSTILE_SECRET_KEY=${{ secrets.TURNSTILE_SECRET_KEY }}" >> .env

            echo "SPOTIFY_CLIENT_SECRET=${{ secrets.SPOTIFY_CLIENT_SECRET }}" >> .env
            echo "NEXT_PUBLIC_SPOTIFY_CLIENT_ID=${{ secrets.NEXT_PUBLIC_SPOTIFY_CLIENT_ID }}" >> .env
            echo "NEXT_PUBLIC_SPOTIFY_OAUTH=${{ secrets.NEXT_PUBLIC_SPOTIFY_OAUTH }}" >> .env

            docker build . -t personal-website

            docker container prune --force
            docker image prune --force

            docker compose up -d
